* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: rgb(76, 187, 150);
}

footer {
    background-color: rgb(252, 174, 168);
    height: 75px;
    font-size: 16px;
}

nav ul li a {
    font-size: 20px;

    text-decoration: none;
    display: inline;
    color: rgb(84, 84, 222);
    padding: 0 23px;
    /* margin: 0 50px ; */

}

nav ul li a:hover {
    font-size: 20px;

    text-decoration: none;
    display: inline;
    font-weight: bold;
    color: rgb(76, 187, 150);
    padding: 0 23px;

}

nav ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    height: 100px;
    align-items: center;



}

nav {
    background-color: antiquewhite;
    color: blueviolet;
    display: flex;
    height: 100px;

}

.logo124 {
    display: flex;
    align-items: center;

}

img {
    width: 100px;
    padding: 0 23px;
}

.container {
    min-height: calc(100vh - 58px - 12vh);

}

.search {
    display: flex;
    align-items: center;

}

.search input {
    width: 535px;
    padding: 0 52px 0 px;
    margin: 0 16px 0 56px;
    height: 35px;
    border-radius: 5px;
    border-bottom-color: rgb(0, 0, 0);
    font-weight: bolder;
    padding: 0 12px;
}

.slider {
    height: 25vw;
    margin: auto;
    width: 10vw;
    display: flex;

}