.center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

}

.btn {
    padding: 5px 10px 5px 10px;
    background-color: rgb(76, 187, 150);
    color: aliceblue;
    font-weight: 300;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    padding: 5px 10px 5px 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 100px;
}